@inject LanguageInstall.Service.Service.ILocalizationService TranslationService
@inject IHttpContextAccessor HttpContextAccessor

@{
    // Access HttpContext via HttpContextAccessor
    var languageCode = HttpContextAccessor.HttpContext?.Items["Language"] as string ?? "en";
}

@{

    // Await the asynchronous method to get the languages list
    var languages = await TranslationService.GetLang();

    var LangugesInd = await TranslationService.GetLangInd();
}

<!DOCTYPE html>
<html lang="@languageCode">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LanguageInstallMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LanguageInstallMVC.styles.css" asp-append-version="true" />

    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">

    <!-- DataTables JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Language Install MVC</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="mainNavbar"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="mainNavbar">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Form1</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="RazorHelper">Form2</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="MultiTableInd">Multi-Tbl-Ind</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item me-2">
                            <select id="languageCode" name="languageCode" class="form-control form-control-sm" onchange="window.location.href='/Home/ChangeLanguage?languageCode=' + this.value;">
                                <option value="">-- Ind Language --</option>
                                @foreach (var language in LangugesInd)
                                {
                                    <option value="@language">@language</option>
                                }
                            </select>
                        </li>
                        <li class="nav-item me-2">
                            <select id="languageCode" name="languageCode" class="form-control form-control-sm" onchange="window.location.href='/Home/ChangeLanguage?languageCode=' + this.value;">
                                <option value="">-- Ref Language --</option>
                                @foreach (var language in languages)
                                {
                                    <option value="@language">@language</option>
                                }
                            </select>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <aside class="col-md-3 col-lg-2 bg-light border-end py-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Translate" asp-action="Translate">Translate-Test</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="MainTables" asp-action="Index">Label-text</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Translations" asp-action="Index">MultiLang-text</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Translate" asp-action="TranslateAll">Install-Language</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Translate" asp-action="TranslateToMultiple">Install-Multiple-Ref</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Translate" asp-action="TranslateToMultipleInd">Install-Multiple-Ind</a>
                    </li>
                </ul>
            </aside>

            <!-- Main Content -->
            <main class="col-md-9 col-lg-10 py-3">
                @RenderBody()
            </main>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - LanguageInstallMVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
